[Unit]
Description=PowerView programmer
After=network.target

[Service]
Type=simple
User=ecmenc
ExecStart=/home/ecmenc/nordic/scripts/server_alt.sh

[Install]
WantedBy=multi-user.target